.main-container {
    padding:6px;
    background-color: lightgrey;
}
.sitaram-image {
    height:50px;
    border-radius:50px;
    margin-right:10px
}
.title-container {
    background-color: lightblue;
    border-radius:6px;
}
.home-heading {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.count {
    display:flex;
    justify-content: space-around;
    padding:15px;
    background-color: antiquewhite;
    color:blue;
    border-radius:10px;
    width:80%;
    margin-left: auto;
    margin-right: auto;
}
.count-card {
    text-align: center;
    background-color: aqua;
    padding:6px;
    border-radius:10px;
}
.search-box {
    border:1px solid black;
    border-radius:10px;
    margin:3px;
    padding:3px;
    width:100%;
}
.search-icon {
    margin-top:15px;
    background-color:white;
    border-radius:700px;
    width:30px;
    height:30px;
    padding-left:5px;
    padding-top:3px;
    border:0px;
    margin-left:5px;
}
.profile-container {
    background-color:rgb(134, 187, 203);
    border-radius:50px;
    padding:15px;
    color:white;
}
#searchError {
    border-radius:13px;
    background-color:rgb(212, 62, 62);
    color:white;
}
.profile-image {
    max-height:60vh;
    border-radius:20px;
    margin:auto;
    max-width:85%;
}